//  FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//  VARIABLES

$tomato: hsl(12, 100%, 67%);
$pink: hsl(342, 100%, 67%);
$dark-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$gradient : linear-gradient(90deg, $pink, $tomato);


// STYLESHEET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $charcoal-grey;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 400;
    color: $dark-grey;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    @media (min-width: 1470px) {
        height: 100vh;
    }
}

.card {
    background: white;
    box-shadow: 10px 10px 25px $dark-grey;
}

// SUBCRIPTION FORM

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 875px) {
        max-width: 60vw;
    }
    @media (min-width: 1470px) {
        flex-direction: row;
        border-radius: 20px;
    }
}

.subscription {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.image-mobile {
    width: 100%;
    @media (min-width: 1470px) {
        display: none;
    }
}

.image-desktop {
    display : none;
    @media (min-width: 1470px) {
        display: block;
    }
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 10px 0;
    @media (min-width: 875px) {
        font-size: 4em;
    }
}

.form p {
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    list-style: circle inside url(./assets/images/icon-list.svg);
}

ul li {
    margin: 5px 0;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: red;
}

label {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 700;
}

input {
    height: 50px;
    outline: none;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 0 20px;
    background-color: none;
    color: $dark-grey;
}

.wrong {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}

input:focus, input:active {
    background-color: none;
    border-color: $dark-grey;
    cursor: pointer;
}

button {
    margin: 20px 0;
    height: 50px;
    flex-grow: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: $dark-grey;
}

button:hover {
    cursor: pointer;
    background-image: $gradient;
}



// SUCCESS MESSAGE

.success {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 2em;
    padding: 25px 40px;  
    @media (min-width: 875px) {
        max-width: 30em;
        height: auto;
        border-radius: 20px;
    }
}

.success img {
    height: 4em;
}

// HIDE FUNCTION

.hide {
    display: none;
}